@model IEnumerable<QLTuyenDung.Models.ViecLam>
@{
    ViewData["Title"] = "Quản lý tin tuyển dụng";
    int stt = 1;
    int dem = 0;
}

@* <!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuyển dụng VNG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header class="bg-light py-4">
        <div class="container d-flex justify-content-between align-items-center">
            <img src="./images/logo.png" alt="" class="logo">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link text-dark font-weight-bold">Trang chủ</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark font-weight-bold">Tuyển dụng</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark font-weight-bold">Ứng viên</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark font-weight-bold">Quản lý</a></li>
                </ul>
            </nav>
            <div class="login-register">
                <a href="#" class="btn btn-outline-secondary btn-custom">Đăng nhập</a>
                <a href="#" class="btn btn-outline-secondary ml-2 btn-custom">Đăng ký</a>
            </div>
        </div>
    </header> *@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/style.css">


    <main class="py-4">
        <section class="job-list">
            <div class="container">
                <h1 class="text-center mb-4">Quản lý Việc làm</h1>
                <div class="d-flex justify-content-center mb-4">
                    <a href="#" class="btn btn-custom mx-2">Tạo tin tuyển dụng mới</a>
                    @* <a href="#" class="btn btn-custom mx-2">Sửa</a>
                    <a href="#" class="btn btn-custom mx-2">Xóa</a>
                    <a href="#" class="btn btn-custom mx-2">Danh sách ứng viên</a> *@
                </div>
                @* <div class="search-bar mb-4">
                    <input type="text" class="form-control d-inline-block mr-2" placeholder="Tìm kiếm vị trí">
                    <button type="submit" class="btn btn-custom">Tìm kiếm</button>
                </div>
                <div class="create-job text-right mb-4">
                    <a href="#" class="btn btn-custom">Tạo vị trí mới</a>
                </div> *@
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>STT</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày hết hạn</th>
                            <th>Mô tả</th>
                            <th>Mức lương</th>
                            <th>Thao tác</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    @foreach(var vieclam in Model)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@vieclam.NgayTao.ToString("dd/MM/yyyy")</td>
                            <td>@vieclam.NgayHetHan.ToString("dd/MM/yyyy")</td>
                            <td>@vieclam.TieuDe</td>
                            <td>@vieclam.MucLuong</td>
                            <td>
                                <a href="#" class="btn btn-custom m2-2">Sửa</a>
                                <a href="#" class="btn btn-custom me-2">Xóa</a>
                            </td>
                            <td><a href="#" class="btn btn-custom">@vieclam.DSDonUT.Count() Đơn ứng tuyển</a></td>
                        </tr>
                        stt++ ;    
                    }
                    
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    @*< footer class="bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    © 2024 VNG Corporation
                </div>
                <div class="col-md-6 text-right">
                    <p class="mb-0">Liên hệ: (8428)-3962 3888</p>
                    <p class="mb-0">Địa chỉ: Định công, Thanh Xuân, Hà Nội</p>
                </div>
            </div>
        </div>
    </footer> *@

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@* </body>
</html> *@
